重构message的class Http

根据
- [RFC3261](https://tools.ietf.org/html/rfc3261): Session Initiation Protocol
- [RFC5322](https://tools.ietf.org/html/rfc5322): Internet Message Format
- [RFC7230](https://tools.ietf.org/html/rfc7230): Hypertext Transfer Protocol (HTTP/1.1)

三个文档的细节调整message模块的架构，使得message模块不仅支持http，还可以支持SIP和Email的消息格式。